In [56]:
import pandas as pd
import datetime

In [57]:
#import Spain and US data
spain_df= pd.read_excel("data/Spain_Bretton_Woods_Data.xlsx", header = 1)
us_df = pd.read_excel("data/US_Bretton_Woods_Data.xlsx", header = 1)

In [58]:
#shorten column names and differentiate US data from Spain data
spain_df=spain_df.rename(columns={'Unnamed: 0':'Month','Economic Activity, Industrial Production, Index': 'Industrial_Production', 'Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate':'Nom_Exchange_Rate', 'International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar':
                      'Spain_International_Reserves_Liquidity', 'Prices, Consumer Price Index, All items, Index':'Spain_CPI'})
us_df=us_df.rename(columns={'Unnamed: 0':'Month', 'International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar':
                      'US_International_Reserves_Liquidity', 'Prices, Consumer Price Index, All items, Index':'US_CPI'})

In [59]:
#merge Spain and US dataframes using month as key
sp_us_df=pd.merge(spain_df, us_df, on='Month')

In [60]:
sp_us_df.iloc[-10:]

,Month,Industrial_Production,Nom_Exchange_Rate,Spain_International_Reserves_Liquidity,Spain_CPI,US_International_Reserves_Liquidity,US_CPI
362,Mar 1990,103.545654,109.357,46425.022504,51.014165,76303.028540,59.021671
363,Apr 1990,91.684970,107.114,46983.663936,51.130082,76283.210610,59.113391
364,May 1990,102.227800,103.859,47767.633818,51.126023,77028.366838,59.250971
365,Jun 1990,102.227800,103.964,48454.310951,51.283673,77298.843254,59.571990
366,Jul 1990,99.592093,100.556,52775.748641,51.972801,77906.286647,59.801289
367,Aug 1990,57.138375,97.029,53227.717281,52.200576,78908.838357,60.351608
368,Sep 1990,97.803577,98.467,53790.187718,52.750025,80024.166133,60.856066
369,Oct 1990,100.909947,95.697,55428.040577,53.218335,82852.196532,61.222946
370,Nov 1990,104.110449,93.958,56347.862332,53.165017,83059.402774,61.360525
371,Dec 1990,88.202071,95.234,56004.835968,53.295997,83316.214608,61.360525

In [61]:
#change date format from string to datetime

dict={'Jan': 1,
      'Feb': 2,
      'Mar': 3,
      'Apr': 4,
      'May': 5,
      'Jun': 6,
      'Jul': 7,
      'Aug': 8,
      'Sep': 9,
      'Oct': 10,
      'Nov': 11,
      'Dec': 12}

months=[]

for i in range(len(sp_us_df)):
    str_month=sp_us_df['Month'][i].split(" ")[0]
    month=dict[str_month]
    year=int(sp_us_df['Month'][i].split(" ")[1])
    months.append(datetime.datetime(year, month, 1))

sp_us_df['Month']=months

In [62]:
#The monthly growth in the nominal exchange rate
sp_us_df['Nom_Exchange_Rate_Growth']=sp_us_df['Nom_Exchange_Rate'].pct_change()

#The real exchange rate
sp_us_df['Real_Exchange_Rate']=sp_us_df['Nom_Exchange_Rate']*sp_us_df['US_CPI']/sp_us_df['Spain_CPI']

#The monthly growth in the real exchange rate
sp_us_df['Real_Exchange_Rate_Growth']=sp_us_df['Real_Exchange_Rate'].pct_change()

#The monthly inflation rate of Spain
sp_us_df['Spain_Inflation_Rate']=sp_us_df['Spain_CPI'].pct_change()